<!DOCTYPE html>
<meta charset="UTF-8">
    <style>
            h1 {
            font-size:100px;
            text-align:center;
            }
        </style>
    <title>{{ title }}</title>
    <head>
        <h1>Eventi</h1>
        <p>Lista eventi disponibili:</p>
        <ul>
            {%for m in ["Napoli","Roma","Gran Canarie","Londra"] %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    </head>
    <body>
        <p>Contenuti</p>
        <a href="/">Home</a><br>
        <a href="/contatti">Contatti</a><br>
    </body>