{% extends 'base.html' %}

<body>
    {% block content %}
        <h1 class="style.css">Tabelle db</h1>
        <ul>
            {% for t in utenti%}
                <li>id: {{ t['id'] }}</li>
                <li>email: {{ t['email'] }}</li>
                <li>username: {{ t['username'] }}</li>
                <li>password: {{ t['password'] }}</li>
                <p>__________________</p>
            {% else %}
                <li>Nessun utente trovato</li>
            {% endfor %}
        </ul>
    {% endblock %}
</body>
</html>